
<div class="row">




      <div class="col s12 chat-window"> 

          <ul>
            <li ng-repeat="message in messages">
            <span class="message">{{message}}</span>
            </li>
        </ul>
      </div>
</div>

  <div class = "row">
      <div class="s12 m4 l2">

      <input type="text" class="form-control" id="chatInput" placeholder="Enter Text Here..." ng-model="msg">
      </div>
      <div class="s12 m4 l2">

      <button type="submit" class="button" ng-click="sendMessage(msg)">Send Message</button>
      </div>

  </div>

  <div class  = "row">
  <input type = "text" ng-model = "chatCtrl.say.message" ng-change = "changeThis()" />
<div ng-class = "chatCtrl.say.message">
{{chatCtrl.say.message}}
</div>
<!-- <input type = "text" ng-model = "chatCtrl.say.aThing.cake" ng-change = "changeThis()" /> -->
<div>
{{chatCtrl.say.aThing.cake}}
</div>
<div>
{{chatCtrl.say.aThing.toast}}
</div>
<div ui-sref ="firebase"> Show me something else now </div>
